
<%= form_for :user, @user, :url => user_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
	
	
	<div class="field">
		<%= f.text_area :content %>
	</div>
	<div class="actions">

	<%= f.submit "Say Something" %>
	</div>
	
<section>


<%= image_tag @user.avatar.url %>
<%= image_tag @user.avatar.url(:medium) %>
<%= image_tag @user.avatar.url(:thumb) %>

</section>

<% end %>
