<%= form_for @micropost, :html => { :multipart => true } do |f| %>

	
  <%= f.file_field :photo%>
	
	<div class="field">
		<%= f.text_area :content %>
	</div>
	<div class="actions">

	<%= f.submit "Say Something" %>
 <%= f.file_field :photo %>
	</div>
	
<section>


<%= image_tag @photo => 'medium' %>
<%= image_tag @photo => "thumb" %>

 <%= f.file_field :photo %>

</section>

<% end %>