

<table class="profile" summary="Profile Info">

<tr>
	<td class="main">

<h1>
<%= gravatar_for @user, :size =>100%>
<%= @user.name %>
</td>
</h1>
	<%= render 'follow_form' if signed_in? %>
	<% if @user.microposts.any? %>
	<table class="microposts" summary="Member Posts">

<%= will_paginate @microposts %>

<%= render @microposts %>
	</table>
	
	<% end %>
	<td class="sidebar round">
	<strong >Name:</strong><br /> <%= @user.name %><br />
	<strong >Email:</strong> <br /><%= @user.email %><br />
	<strong >Comments:</strong> <br /><%= @user.microposts.count %>
	<strong><%= render 'users/shared/stats' %></strong>

	</td>
	</tr>


</table>

