<table summary="Following Summary">
	<tr>
		<td class="main">
			<h1 style="text-align:center; font-size: 3em; font-family:impact"><%= @title %></h1><br />
			<% if @users.any? %>
			<div class="flickr_pagination">
					<%= will_paginate @users  %>
				</div>	
				<ul class="users">			
				
				 <%= render @users %>
				 </ul>
				 <% end %>
				</td>
		<td class="sidebar round">
	<strong >Name:</strong><br /> <%= @user.name %><br />
	<strong >Email:</strong> <br /><%= @user.email %><br />
	<strong >Link:</strong> <br /><%= link_to user_path(@user), @user %><br />
	<strong >Comments:</strong> <br /><%= @user.microposts.count %>
	<strong><%= render 'users/shared/stats' %></strong>
	<% if @users.any? %>
		<% @users.each do |user| %>
			<%= link_to gravatar_for(user, :size => 50), user %>

			<% end %>
		   <% end %>	
	</td>
	</tr>
</table>	