<table class="profile" summary="Profile Info">

<tr>
	<td class="main">

<h1>
<%= gravatar_for @user, :size => 100 %>
<%= @user.name %>
</td>
</h1>
	
	<td class="sidebar round">
	<strong style="color:white">Name:</strong><br /> <%= @user.name %><br />
	<strong style="color:white">User Home:</strong> <br /><%= link_to "/users/#{@user.id}" %><br />
	<strong style="color:white">Email:</strong> <br /><%= @user.email %>

	</td>
	</tr>


</table>

